@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>task6_7AppendToDom()</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    <h1 id="h1">hi this is h1</h1>
    <p id="p">hi this is paragraph</p>
    <h2 id="h2">hi this is h2</h2>

    <button id="add-table">Add Table Jquery</button>
    <div style="display: none;" id="tbl-div">
        
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/Task28Feb_JS/task6to8.js"></script>
</body>
</html>
