@{
    Layout = null;

    string primaryColor = "#286090";
    string secondaryColor = "#E19334";

}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<style>
    h5 {
        margin: 0;
    }

    h4, p {
        font-size: 16.5px;
    }

    h3 {
        font-size: 20px;
    }
</style>


<div id="exportTo">
    <h1 style="text-align: center; color: @primaryColor;">Shakaib Akhtar</h1>
    <br />
    <h3 style="border-bottom: 2px solid @secondaryColor; color: @primaryColor; width: 100%;">Personal Info</h3>
    <p style="padding-left: 1em;"><b>Address: </b>Block D, SOAN Gardens, Islamabad</p>
    <p style="padding-left: 1em;"><b>Contact: </b>0312 3456 789</p>
    <p style="padding-left: 1em;"><b>Age: </b>25 years</p>
    <p style="padding-left: 1em;"><b>Language: </b>English, Urdu, Punjabi</p>
    <p style="padding-left: 1em;"><b>Mertial Status: </b>Un-Married</p>
    <p style="padding-left: 1em;"><b>Website: </b>mehdienterprises.com</p>

    @*<br /><br />*@

    <h3 style="border-bottom: 2px solid @secondaryColor; color: @primaryColor; margin-top: 1rem; width: 100%;">Objective</h3>
    <p style="padding-left: 1em;">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>

    @*<br /><br />*@

    <h3 style="border-bottom: 2px solid @secondaryColor; color: @primaryColor; margin-top: 1rem; width: 100%;">Qualification & Affiliation:</h3>
    <p style="padding-left: 1em;">BS(Software Engineering) - University Of Gujrat</p>
    <p style="padding-left: 1em;">2015 - 2019</p>

    @*<br /><br />*@

    <h3 style="border-bottom: 2px solid @secondaryColor; color: @primaryColor; margin-top: 1rem; width: 100%;">Work Experience:</h3>
    <p style="padding-left: 1em;">Software Engineer - InternusSoft</p>
    <p style="padding-left: 1em;">December, 2019 - Now</p>

    @*<br /><br />*@

    <h3 style="border-bottom: 2px solid @secondaryColor; color: @primaryColor; margin-top: 1rem; width: 100%;">Projects:</h3>
    <ul>
        <li>
            <p style="font-weight: bold; font-size: 17px;">Mehdi Mgmt System</p>
            <p>From: <span style="font-weight: normal;">2019</span></p>
            <p>Platform: <span style="font-weight: normal;">Web</span></p>
            <p>Domain: <span style="font-weight: normal;">mehdimarketing.com</span></p>
            <p style="margin: 0;">DESCRIPTION: Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>
        </li>
    </ul>

    @*<br /><br />*@

    <h3 style="border-bottom: 2px solid @secondaryColor; color: @primaryColor; margin-top: 1rem; width: 100%;">Technical Skills:</h3>
    <ul>
        <li>
            <p>C# (Basic)</p>
        </li>
        <li>
            <p>SQL (Basic)</p>
        </li>
    </ul>

    @*<br /><br />*@

    <h3 style="border-bottom: 2px solid @secondaryColor; color: @primaryColor; margin-top: 1rem; width: 100%;">References:</h3>
    <p style="padding-left: 1em;">References will be furnished on demand.</p>
</div>


<button id="exportBtn">Export as .pdf</button>

<script>
    $('#exportBtn').click(function () {
        
    });
</script>
