@model IEnumerable<CSVReader.Models.RegisterAgentsVM>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table>
    <tr>
        <th>Name</th>
        <th>Last Name</th>
    </tr>

   
</table>